# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Mac
.DS_Store

# Data
*.csv
*.tar.gz
frontend/frames/
GAIT1.PDF
GAIT2.PDF
GAIT3.PDF
GAIT4.PDF
CogniSafe.docx
Dementia_Assessment_Question_Bank.pdf
Dementia_Assessment_Tool_2026.pdf